#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #44444E;
  padding: 1em 0;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: center;
  gap: 2em;
}

nav a {
  color: #D3DAD9;
  padding: 0.5em 1em;
  border-radius: 4px;
  font-weight: bold;
}

nav a:hover {
  background: #715A5A;
  color: #c5aa6a
}